.fail:before{
	content : 'Failure: ';
	color : #F5FFF9;
	font-weight: bold;
}
.pass:before{
	content : 'Passed: ';
	color : #0000AA;
	font-weight: bold;
}
.fail{
	background: #FF2C1C;
	border: 3px solid rgba(255,255,255,.2);
}
.pass{
	background: #247BB2;
	border: 3px solid rgba(255,255,255,.2);
}
ul{
	list-style: none;
}
li{
	border: 1px black solid;
	padding: 5px;
	margin-bottom: 10px;
	width : 33%;
}
body{
	background: #666;
}